$font-primary: 'Inter';
$font-secondary: 'Nanum Pen Script';


// cores basicas
$black:#0D0D0D;
$wite:#FFFFFF;
$onyx: #181818;
$dark-gray:#808080;
$medium-gray: rgb(128, 128, 128,0.5);
$light-gray:#C5C5C5;
$light-blue:rgba(63, 100, 234, 0.43);
$light-red:rgba(233, 63, 64, 0.43);
$light-yellow: rgba(255, 184, 0, 0.43);

// dark mode
$card-border: #383737;
$white-10:rgba(255, 255, 255, 0.1); 
$white-25:rgba(255, 255, 255, 0.25);
$white-7:rgba(255, 255, 255, 0.07);
$black-50:rgba(21, 21, 21, 0.5);

// light mode
$main-bg:#FBFBFB;
$faint-white:#F3F3F3;
$card-border-light:#EBEBEB;
$card-bg: #F6F6F6;
$black-light-10:rgb(21, 21, 21, 0.1);


// gradients
$dark-gradient: linear-gradient(90deg,#1A1A1A, #131313 100%);


// font sizes
// Font Primary (em rem)
$font-size-10: 0.625rem;  // 10px
$font-size-11: 0.688rem;  // 11px
$font-size-12: 0.75rem;   // 12px
$font-size-14: 0.875rem;  // 14px
$font-size-15: 0.937rem;  // 15px
$font-size-16: 1rem;      // 16px
$font-size-18: 1.125rem;  // 18px
$font-size-20: 1.25rem;   // 20px
$font-size-24: 1.5rem;    // 24px
$font-size-32: 2rem;      // 32px
$font-size-40: 2.5rem;    // 40px
$font-size-48: 3rem;      // 48px
$font-size-60: 3.75rem;   // 60px
$font-size-80: 5rem;      // 80px

// Font Secondary (Nanum Pen)
$font-nanumpen-16: 1rem;   // 16px
$font-nanumpen-24: 1.5rem; // 24px


// font estilos
$font-weight-reg: 400;     // Regular
$font-weight-med: 500;     // Medium
$font-weight-semib: 600;   // Semi Bold
$font-weight-bold: 700;    // Bold