body  {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $black;
    position: relative;
}


.summary{
    margin: auto;
    width: 74rem;

}
