body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $black;
  position: relative;
}

.summary {
  //   margin: auto;
  width: 74rem;

  .summary__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12.5rem;

    img {
      width: 24rem;
    }
  }

  .summary__text {
    width: 45rem;

    h1 {
      font-size: $font-size-80;
      font-weight: $font-weight-bold;
      color: $dark-gray;

      span {
        color: $wite;
      }
    }

    p {
      font-size: $font-size-24;
      color: $dark-gray;
      margin-top: 3.75rem;
    }

    .summary__buttons {
      display: flex;
      margin-top: 3.75rem;
      gap: 2.25rem;
    }
  }
}

.projects {
  width: 74rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .projects__container {
    h2 {
      font-size: $font-size-48;
      font-weight: $font-weight-bold;
      color: $dark-gray;
      margin-bottom: 4rem;
    }

    .projects__cards {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-bottom: 6.25rem;
    }
    .card {
      width: 74rem;
      border-radius: 2rem;
      background: $white-7;
      display: flex;
      padding: 3rem 0rem 0rem 3rem;
      border: solid 0.1rem $card-border;

      .card__text img {
        width: 4.3rem;
      }

      .card__text h3 {
        font-size: $font-size-32;
        color: $wite;
      }
      .card__text p {
        font-size: $font-size-18;
        color: $dark-gray;
        height: 14rem;
      }

      .card__text a {
        font-size: $font-size-20;
        color: $wite;
      }
    }
  }
}

.conheca {
  width: 74rem;

  .conheca__container {

    h2{
      font-size: $font-size-48;
      font-weight: $font-weight-bold;
      color: $wite;
      margin-bottom: 4rem;

    }
    .conheca__grade {
      display: grid;
      grid-template-columns: 0fr 1fr;
      gap: 1rem;
      justify-content: center;

      .conheca__card {
        display: flex;
        flex-direction: column;
        color: inherit;
        background: $white-7;
        border-radius: 2rem;
        width: 38rem;
        height: 38rem;
        text-align: center;
        justify-content: space-between;

        .conheca__text {
          h3 {
            font-size: $font-size-32;
            color: $wite;
            font-weight: $font-weight-bold;
            margin: 3.75rem 0rem 0rem 0rem;
            width: 90%;

            
          }

          p {
            font-size: $font-size-18;
            color: $dark-gray;
            width: 90%;
            margin: 1rem 0rem 0rem 0rem;
          }
        }

        .conheca__image {
          width: 100%;
          height: 60%;
          position: relative;
         

          img {
            width: 100%;
            height: 100%;
            
            object-fit: cover;
             bottom: 0;
             
          }
        }
      }
    }
  }
}

.cta{
  width: 74rem;
  margin: 7rem 0rem 12rem 0rem;

  .cta__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cta__text {

      h2{
      font-size: $font-size-48;
      font-weight: $font-weight-bold;
      color: $wite;
    }

    p{
      font-size: $font-size-18;
      color: $dark-gray;
      margin-top: 1rem;

    }
  }

  button{
    display: flex;
    gap: 1rem;
    align-items: center;

  }

}
}
