

@import "base/reset";
@import "base/normalize";

@import "base/variaveis";
@import "paginas/home";
@import "layout/navbar";
@import "layout/footer";
@import "paginas/sobre";
@import "paginas/projetos";
@import "paginas/blog";
@import "paginas/blog/artigo-app-router-nextjs";
@import "paginas/tecnologia";




body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}